
.admin-card{
	background-color:white;
}

.admin-card .card-action{
	text-align:right;
}

.admin-card .card-content{
	text-align:left;
}

.admin-card .card-content .card-title{
	color:rgba(0,0,0,0.7);
	text-align:left;
}

.admin-import-action{
  border-top: 1px solid #ddd;
  padding-top: 2em;
  width: 100%;
}

.admin-action{
	color:rgba(0,0,0,0.5) !important;
	font-weight:bold;
}

.admin-action:hover{
	color:rgba(0,0,0,0.9) !important;
}

.admin-counter{
  display: inline-block;
  float: right;
  margin-right: 5px;
  color: #D32F2F;
  font-weight: bold;
  margin-top: 0.15em;
}

.admin-review-list-pending{
	position: absolute; 
	top:1%; 
	bottom: 39%;
}

.admin-review-list-frame{
	position:absolute; 
	top:62%; 
	bottom:0;
}

.admin-review-search-results{
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 7em;
  background-color: white;
  width: auto;
  min-width:5em;
  height: 50%;
  left: 2em;
  z-index: 2;
  overflow: auto;
}

.admin-review-search-results li{
    display: block;
    padding: 1rem 1rem;
    text-align: left;
    color: #474747;
    cursor: pointer;
    font-weight: 500;
}

.admin-category-header{
	font-size: 1.75em;
    font-weight: 400;
    margin: 50px 0 10px;
    text-align: left;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    color: rgba(0,0,0,0.5);
}


.admin-schedule-ref-date{
	width:200px;
	display:inline-block;
}

.admin-schedule-ref-question{
	display:inline-block;
	font-size: 1.25em;
}

.admin-schedule-ref-row{
    margin: 0 25px 20px;
    border-bottom: 1px solid gray;
    text-align: left;
}

.admin-schedule-insert-before, .admin-schedule-insert-after, .admin-schedule-insert-remove, .ref-pt-search-select{
	font-weight:500; 
	opacity:0.7;
	padding: 0 1rem;
	float: right;
}

.admin-schedule-insert-before:hover, .admin-schedule-insert-after:hover, .admin-schedule-insert-remove:hover, .ref-pt-search-select:hover{
	opacity:1;
}


@media only screen and (max-width : 600px) {
	.admin-review-list-pending{
		bottom:49%;
	}
	
	.admin-review-list-frame{
		top:50%;
	}
	
	.admin-review-iframe-container{
		display:none;
	}
}
