.collection-box{
    width: 200px;
    height: 200px;
    margin: 10px 20px 10px 0px;
    display: inline-block;
    vertical-align: top;
}

.collection-add{
	background-color: #ccc;
    color: white;
    font-size: 8.5em;
    font-weight: bold;
    text-align: center;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.collection-add:hover{
	background-color: #2196F3;
}

.collection-empty{
    background-color: #2196F3;
    color: white;
    padding: 23px 10px;
    text-align: center;
}
