.dashboard-question-header
{
    font-size: 1.5em;
    margin-bottom: 20px;
}

.dashboard-card
{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color:white;
    color:rgba(0,0,0,0.7);
    padding:10px;
}

.dashboard-card-calltoaction
{
    background-color:#2196F3;
    color:white;
    cursor: pointer;
}

.dashboard-card-calltoaction:hover
{
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard-calltoaction-container i
{
    font-size: 5em;
    display: block;
    margin-top: -20px;
}

.dashboard-calltoaction-container span
{
    text-transform: uppercase;
    font-weight:500;
    font-size:1.25em;
}