#discover-header{
	z-index: 2;
	display:none;
	top:0;
	left:0;
	right:0;
	position:fixed;
}

.discover-row{
	margin-top:1em;
}

.discover-gnow-card{
	padding: 1em !important;
    text-align: left;
    overflow: hidden;
    margin-top:2em;
    position: relative;
    background-color: white;
}

.discover-gnow-header{
    margin: 0 1em 0 0.5em;
    font-size: 1.5em;
    display: inline-block;
    vertical-align: top;
}

.discover-gnow-title{
    padding: 0 1em 0.5em;
    font-weight: bold;	
}

.discover-gnow-action{
	float: right;
    margin-bottom: 0;
    font-weight: bold;
    margin-top: 25px;
    color: #2196F3
}

.daily-watch-title{
    text-align: left;
    position:relative;
    font-size: 1.2em;
    padding: 12px 45px 12px 10px;
    background-color: #ddd;
    width: 100%;
    height: 50px;
    color: rgba(0, 0, 0, 0.87);
    overflow: hidden;
    margin-bottom: 6px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.daily-watch-title:hover{
	background-color: #167ac6;
	color:#fff;
}

.daily-watch-title-active{
	background-color: #167ac6;
	color:#fff;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.daily-watch-video-box{
	display:none;
}

.daily-watch-video-box-active{
	display:inline-block;	
}

.daily-watch-title-xp{
	display:none;
	position: absolute;
    right: 0;
    color: white;
    top: 0;
    cursor: pointer;
    font-weight: 500;
    background-color: #0e4c7b;
    padding: 5px 10px;
}

.daily-watch-title-xp i{
    font-size: 1.5em;
    vertical-align: middle;
    margin-left:5px;
}

.daily-header-image{
    width: 100%;
    height: 400px;
    position:relative;
    overflow:hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.daily-answers-results-container{
    position: absolute;
    top: 150px;
    left: 75px;
    right: 75px;
}

.daily-header-image-active{
	height:100vh;
}

.daily-header-banner{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 20px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.daily-header-question{
    font-size: 3em;
    color: white;
    font-weight: 500;
    position: absolute;
    line-height: 45px;
    top: 250px;
    z-index: 10;
    left: 75px;
    right:75px;
    text-align: left;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.daily-header-question-hidden{
    font-size: 3em;
    color: white;
    font-weight: 500;
    line-height: 45px;
    margin-left: 0;
    text-align: left;
}

.daily-header-subquestion-hidden{
	font-size: 1.25em;
    color: white;
    margin-left: 0;
    text-align: left;
    margin-bottom: 25px;
}

.daily-header-game-title{
    color: white;
    font-weight: bold;
    top: 225px;
    position: absolute;
    left: 75px;
    z-index: 10;
    text-align: left;
	cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.daily-header-game-title-hidden{
    color: white;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 0px;
    text-align: left;
}

.daily-reply-button{
	background-color: #2196F3 !important;
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 0.5em;
    cursor: pointer;
    position: relative;
    top: -5px;
}

.daily-answers-container{
	position:absolute;
	width:100%;
	left:0;
	top:100%;
    height:100%;
    z-index: 5;
	color:white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-y:auto;
}

.share-daily-response{
    color: white;
    cursor: pointer;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    margin-top: 10px;
    padding-left: 0;
    text-align: left;
    font-weight: 500;
    margin-left: 35px;
}

.daily-pref-image{
    width: 100%;
    height: 125px;
    background-color: blue;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
}

.daily-response-label-radio:before{
	border: 2px solid #fff !important;
}

.daily-item-row{
    text-align: left;
    display: block;
    width: 100%;
    line-height:35px;
}

.daily-item-row .select-wrapper .select-dropdown{
	color: white;
    font-size: 2em;
    font-weight: 500;
    line-height: 3rem;
    height: 3rem;
    border-bottom:3px solid white;
    background-color:rgba(255,255,255,0.4);
    padding: 0 10px;
}

.daily-item-row .select-wrapper .mdi-navigation-arrow-drop-down{
	color: white;
    font-size: 50px;
    top: 5px;
}

.daily-response-label, .daily-response-label-radio{
	color:white !important;
	font-weight:400;
	font-size:1.5em !important;
}

.daily-repsonse-items-with-meta{
	color:green;
	font-weight:400;
}

.daily-response-item-small{
	width:100px !important;
	display:inline-block !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.daily-resp-grid .knowledge-container .daily-pref-image{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.daily-resp-grid .knowledge-container .daily-pref-image:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: #2196F3;
  height: 6px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.daily-resp-grid .knowledge-container .daily-pref-image:hover:before, .daily-resp-grid .knowledge-container .daily-pref-image:focus:before, .daily-resp-grid .knowledge-container .daily-pref-image:active:before {
  right: 0;
}

.daily-pref-image-active .daily-pref-image-title {
	background-color: #2196F3;
    padding: 20px 5px;
}

.daily-checkmark{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    color: white;
    font-size: 1em;
    opacity: 0;
    text-align: center;
    background-color: #2196F3;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding-top: 4px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.daily-pref-image-title {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-weight: 500;
    height: auto;
    font-size: 1em;
    line-height:16px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding: 10px 5px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.daily-response-item-dynm-2{
	width:45%;
	height:300px;
	display:inline-block;
}

.daily-response-item-dynm-h-2{
	height:300px;
}

.daily-response-item-dynm-3{
	width:30%;
	height:300px;
	display:inline-block;
}

.daily-response-item-dynm-h-3{
	height:300px;
}

.daily-response-item-dynm-4{
	width:22%;
	height:300px;
	display:inline-block;
}

.daily-response-item-dynm-h-4{
	height:300px;
}

.daily-response-item-dynm-5{
	width:18%;
	height:300px;
	display:inline-block;
}

.daily-response-item-dynm-h-5{
	height:300px;
}

.daily-response-item-dynm-6{
	width:30%;
	height:150px;
	display:inline-block;
}

.daily-response-item-dynm-h-6{
	height:150px;
}

.daily-response-item-dynm-7, .daily-response-item-dynm-8{
	width:22%;
	height:150px;
	display:inline-block;
}

.daily-response-item-dynm-h-7, .daily-response-item-dynm-h-8{
	height:150px;
}

.daily-response-item-dynm-9, .daily-response-item-dynm-10{
	width:18%;
	height:150px;
	display:inline-block;
}

.daily-response-item-dynm-h-9, .daily-response-item-dynm-h-10{
	height:150px;
}

.discover-collection-game-list{
    position: absolute;
    top: 100px;
    right: 2em;
    width: 65%;
    height: 375px;
}

.discover-collection-header{
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.discover-collection-game-image{
    float: right;
    display: inline-block;
    width: 30%;
    margin: 5px;
    height: 115px;
}

.discover-collection-game-image-view{
    display: inline-block;
    width: 30%;
    position: absolute;
    height: 115px;
    bottom: 5px;
    padding-top: 40px;
    cursor: pointer;
    right: 5px;
    background-color: #2196F3;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.discover-collection-game-image-view span{
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.discover-collection-game-image-view:hover{
	background-color: #0D47A1;
}

.discover-collection-game-image:hover{
	opacity:0.9;
}

.discoverCollectionAuthor{
	display:inline-block;
	color:white;
	font-size:0.7em;
}

.card-agree-quote{
    color: white;
    font-size: 1.25em;
    position: absolute;
    top: 25px;
    left: 0px;
    right: 0px;
    width: 95%;
    padding: 0 2.5%;
    text-align:center;
}

.game-agree-card{
	position: relative;
	text-align: left;
	background-color: #474747;
	height: 280px;	
}

.game-agree-card .card-image{
	height:150px !important;
}

.card-game-small{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 20px;
    cursor: pointer;
}

.card-game-list{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 10px;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
     box-shadow: inherit;
    cursor: pointer;
}

.card-game-list:hover{
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-game-small:hover{
    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.card-image-small{
	height:150px !important;
	width:200px !important;
	position:relative;
}

.card-image-list{
	height: 75px !important;
    width: 100px !important;
    float: left;
    position: relative;
}

.card-game-tier-vert{
    float: left;
    height: 75px;
    width: 20px;
}

.card-game-small-title{
    background-color: #444;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.9em;
    right: 0;
    text-align: center;
    padding: 5px 10px;
    color: white;
}

.card-game-list-title{
	position: relative;
    font-size: 1.2em;
    text-align: left;
    font-weight: 500;
    padding: 15px 10px 0px;
    margin-left: 125px;
    color: rgba(0,0,0,0.8);
}

.card-game-list-details{
	font-weight: 300;
    display: inline-block;
    margin-left: 15px;
}

.game-discover-card{
	position: relative;
	text-align: left;
    background-color: #0a67a4;
	height: 300px;
	display:block;
}

.game-discover-dismiss-card{
	position: relative;
	text-align: left;
    background-color: #0a67a4;
	height: 340px;
	display:block;
}

.game-agree-card .card-content{
	background-color: white;
	height: 130px;
	padding: 5px 24px !important;
}

.game-agree-card .card-content .card-title{
	font-size: 1.25em;
	line-height: 30px;
}

.game-discover-card .card-image, .game-discover-dismiss-card .card-image{
	height:200px !important;
}	

.game-discover-background-image{
	height:14em;
}

.game-discover-card .card-content,  .game-discover-dismiss-card  .card-content{
	background-color: white;
	height: 80px;
	padding: 0px !important;
	height: 100px;
}

.game-discover-card .card-reveal, .game-discover-dismiss-card .card-reveal{
	padding: 16px 24px 8px 16px !important;
	z-index:2;
}

.game-discover-card .card-content .card-title, .game-discover-dismiss-card .card-content .card-title{
	font-size: 1em;
	line-height: 18px;
	height:90px;
}

.game-discover-card .card-reveal .card-title, .game-discover-dismiss-card .card-reveal .card-title{
	font-size:1em;
	line-height: 22px;
}

.subNameInfo{
	display:block;
	color:rgba(0,0,0,0.8);
	font-weight: 300;
	font-size: 0.9em;
}

.game-discover-label{
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	color: white;
	font-size: 1.1em;
	bottom: 0;
	padding: 1em 0.5em;
	text-align: center;
	left: 0;
	right: 0;
	text-transform: uppercase;
}

.gameMoreNav{
	position: absolute;
	bottom: 0.2em;
	right: 0.2em;
	font-size: 1.5em;
	color: rgba(255,255,255,0.75);
	cursor:pointer;
}

.gameMorePlatform{
	display: inline-block;
	color: white;
	background-color: #1976D2;
	border-radius:2px;
	margin: 0 0.2em 0.25em 0;
	font-size: 0.8em;
	padding: 0.15em 0.4em;
}

.gameMoreRelase{
	opacity: 0.8;
}

.gameMoreContainer{
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	top:100%;
	background-color: white;
}

.fadeOutOverlay{
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 75%,rgba(255,255,255,1) 100%); /* W3C */
	height: 80px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.game-discover-card .card-image .card-title, .game-discover-dismiss-card .card-image .card-title{
	position: absolute;
	top: 140px;
	left: 0;
	padding: 0 24px 0 16px;
	font-weight: 400;
}

#peopleContainerTab{
	padding-top:0.5em;
}

#discover-header .row .col .tabs{
	background-color:transparent;
	height:60px;
}

#discover-header .row .col .tabs .tab{
	height: 60px;
	max-width: 50%;
	background-color:transparent;
}

#discover-header .row .col .tabs .tab a{
	background-color: #39a1f4;
	opacity:0.4;	
	-webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#discover-header .row .col .tabs .tab a:hover{
	opacity:0.7;
}

#discover-header .row .col .tabs .tab a.active{
	opacity:1;
}

#discover-header .row .col .tabs .indicator{
	display:none;
}

.searchHeader{
	margin-top: 2.5em;
	font-size: 2.5em;
	text-align: left;
	font-weight: 100;
}

.discoverDivider{
  border-bottom: 1px solid #919191;
  width: 95%;
  margin: 0 2.5%;
  padding: 1em 0 !important;
}

.discoverCategory{
  margin: 0 2%;
  padding: 1em 5% !important;
  display: inline-block;
  position: relative;
}

.discoverCategoryHeader{
	font-size: 1.75em;
	margin: 2em 0 1.5em 0.5em;
	text-align: left;
}

.discoverCategoryHeaderFirst{
	margin-top:0.5em !important;
}

.SeeAllBtn{
	position: absolute;
	display: inline-block;
	right: 1em;
	font-weight: 300;
	font-size: 0.4em;
	padding: 1em;
}

.ViewBtn{
	position: absolute;
	display: inline-block;
	font-weight: 300;
	font-size: 0.6em;
	top: 0px;
    right: 0px;
}

.ViewBtnCollection{
	position: absolute;
	display: inline-block;
	right: 5%;
	font-weight: 300;
	font-size: 0.5em;
}

.searchResultsContainer, .CategoryDetailsContainer{
	margin: 6em 2.5% 1em;
}

.categoryIcon{
	border-radius: 50%;
	background-color: rgb(0, 119, 255);
	color: white;
	padding: 0.5em 0.53em;
	margin-right: 0.5em;
	vertical-align: middle;
	font-size: 1em;
	cursor: pointer;
}

.suggestedGameText{

}

.suggestedGameCard{

}

.suggestedGameTitle{
	
}

.suggestedGameBackground{
	width:100%;
	height: 500px;
}

.suggested-game-link{
	cursor:pointer;
	color: #2196F3; 
	margin-right: 16px;  
	-webkit-transition: color 0.3s ease; 
	-moz-transition: color 0.3s ease; 
	-o-transition: color 0.3s ease;  
	transition: color 0.3s ease; 
	text-transform: uppercase;
}

.activePersonalityGameBackground{
	width: 100%;
	top: 0;
	left: 0;
	height: 23em;
	position: absolute;
}

.activePersonalityContainer{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:23em;
}

.activePersonalityQuote{
	font-size:2em;
	color:white;
}

.activePersonalityRow{
	padding:0;
	margin: 2em 0 0em;
	position:relative;
	height:23em;
}

.ReleaseDateHeader{
	font-size:2em;
}

.ReleaseDateHeader .card-panel{
	height: auto;
	box-shadow: none;
	text-align: left;
	margin: 2em 0;
	font-size: 0.8em;
	border-bottom: 1px solid #9BA09F;
	color: #474747;
	padding: 0.5em;
}
.RekeaseDateIcon{
	color: rgba(0, 0, 0, 0.87);
	vertical-align: middle;
	font-size: 1.2em;
	display:inline-block;
}

.CategoryGraph{
	height:195px;
	margin-top: 2px;
}

.CategoryGameImageHighlight{
	height: 185px;
	padding: 0 0 0 0.75rem !important;
	cursor: pointer;
}

.CategoryGameTitle{
	font-size: 1.3em;
	margin: 0.5em 0;
	width: 100%;
	text-align: left;
	cursor: pointer;
}

.CategoryGameQuote{
	position:relative;
	color: rgba(0,0,0,0.7);
	margin: 1em 0.5em 0;
}

.CategoryGameQuoteIcon{
	float: right;
	margin-top: -1.25em;
	font-size: 3em;
}

.CategoryGameDetails{
	background-color:white;
	padding: 0 0 0 0.75rem !important;
	margin-top: 10px;
}

.CategoryGameGraph{
	height:273px;
	margin-top: 2px;
	margin-bottom:20px;
}

.CategoryGraph .card-panel, .CategoryGameGraph .card-panel{
	background-color: white;
}

.CategoryGraph .card-panel canvas, .CategoryGameGraph .card-panel canvas{
	margin-bottom:5px;
}

.discoverAdvancedSearchItem i{
	font-size: 2em;
	margin-right: 1em;
	vertical-align: middle;
	color: rgba(0, 0, 0, 0.7);
}

.typeaheadAdvancedSearch{
	position: absolute;
	top: 3.5em;
	left:10%;
	background-color: white;
	z-index: 2;
	height:auto;
	max-height: 300px;
	display: none;
	overflow: auto;
}

.typeaheadAdvancedSearch .collection .collection-item{
	cursor: pointer;
	-webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.typeaheadAdvancedSearch .collection .collection-item:hover{
	background-color:#EEE;
	color: #2196F3;
}

.xp-latest-header{
	font-size:1.5em;
}

.custom-discover-category-label{
  background-color: white;
  font-size: 1em;
  font-weight:bold;
  padding: 0.4em 0 !important;
  text-align: left;
  color: rgba(0,0,0,0.8);
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.custom-discover-category-label:hover{
	color: #2196F3;
}

.custom-discover-category-header{
	font-size: 1.5em;
  border-bottom: 1px solid #ddd;
  padding: 0em 0 0.5em !important;
  text-align: left;
  margin-bottom: 0.75em;
  color: rgba(0,0,0,0.8);
}

.discoverCatName{
    display: inline-block;
    top: -0.25em;
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}

.discoverCatSubName{
    position: absolute;
    font-size: 0.6em;
	top: 45px;
}

.active-collection-game-icon{
	z-index:10001;
}

.follow-from-discover{
    padding: 0 1rem;
    position: absolute;
    top: 20px;
    right: 10px;
	width:130px;
}

.dismiss-from-discover{
	padding: 0 1rem;
    position: absolute;
    top: 70px;
    right: 10px;
	width:130px;
}

.follow-from-discover-small{
    padding: 5px 0px;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
}

.dismiss-from-discover-small{
    padding: 5px 0px;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
}

.follow-from-discover-small:hover, .dismiss-from-discover-small:hover{
	background-color: #2196F3 !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.follow-from-discover-small:hover i, .dismiss-from-discover-small:hover i{
	color:white;
}

.game-card-quick-dismiss{
	position: absolute;
    top: 5px;
    right: 10px;
    padding: 0px 5px;
    background-color: gray;
    border-radius: 5px;
    color: white;
    cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	width:30px;
	height:27px;
	font-size:1.25em;
	overflow:hidden;
}

.game-card-quick-dismiss:hover{
	width: 170px;
	background-color: #2196F3 !important;
}

@media only screen and (max-width : 992px) {
	#discover-header{
		right:0;
		top:-2px;
	}
	.game-discover-card, .user-discover-card, .game-discover-dismiss-card, .user-discover-card{
		display:block;
	}
}

@media only screen and (max-width : 600px) {
	.card-game-list-details{
		display:none;
	}
	#discover-header{
		top:0;
		display: inline-block;
	}
	.game-card-quick-dismiss {
    	padding: 2px 0px 0px 6px;
	}
	#discover-header .row .col .tabs{
		background-color:#D32F2F;
		height:48px;
	}
	#discover-header .row .col .tabs .indicator{
		display:inline-block;
	}
	#discover-header .row .col .tabs .tab{
		height:48px;
		max-width:50% !important;
		width:50% !important;
		margin:0;
	}
	#discover-header .row .col .tabs .tab a{
		background-color:#D32F2F;
		opacity:1;	
		-webkit-transition: all 0.25s ease;
	    -moz-transition: all 0.25s ease;
	    -o-transition: all 0.25s ease;
	    -ms-transition: all 0.25s ease;
	    transition: all 0.25s ease;
	}
	
	.discoverCategory{
	    padding: 1em 5% 3em !important;
	}
	
	.discoverCategoryHeader{
		font-size:1.25em;
	}
	
	.discoverCategoryHeaderFirst{
		margin-top:-2em !important;
	}
	
	.discover-row{
    	margin-top: 10px;
	}
	
	#discover-header .row .col .tabs .tab a:hover{
		opacity:1;
	}
	
	#discover-header .row .col .tabs .tab a.active{
		opacity:1;
	}
	
	#discover-header .row .col .tabs .tab a img{
		margin-top:0.5em !important;
	}
	#peopleContainerTab{
		padding:0;
	}
	
	.game-discover-card .card-image{
		height:150px !important;
	}	
	.game-discover-card .card-image .card-title, .game-discover-dismiss-card .card-image .card-title{
		top:100px;
	}
	.game-discover-card{
		height:250px;
	}
	.ReleaseDateHeader {
		font-size:1.25em;
	}
	.ReleaseDateHeader .card-panel{
		height: auto;
		box-shadow: none;
		text-align: left;
		margin: 1em 0 0 0;
		font-size:1em;
	}
	.RekeaseDateIcon{
		color: rgba(0, 0, 0, 0.87);
		vertical-align: middle;
		font-size: 1.2em;
		display:inline-block;
	}
	.ViewBtn, .ViewBtnCollection{
		font-size:0.6em;
	    bottom: -2em;
	    right: 3em;
	}
	.ViewBtn .btn, .ViewBtnCollection .btn{
		padding: 0 0.75em;
		height: 30px;
		line-height: 30px;
	}
	/*.suggestedGameBackground{
		align-items: flex-end;
		justify-content: flex-end;
	}*/
	.suggestedGameBackground .row .col .card .card-content .card-title{
		display:none;
	}
	.suggestedGameBackground .row .col .card .card-content p{
		font-size:0.9em;
	}
	.suggestedGameBackground, .activePersonalityRow, .activePersonalityGameBackground{
		height: 20em;
	}
	.activePersonalityQuote{
		font-size:1em;
	}
	.discoverDivider{
		display:none;
	}
	.CategoryGraph, .CategoryGameGraph, .CategoryGameDetails{
		display:none;
	}
	.discoverCatSubName{
		top: 30px;
	}
	.daily-header-question{
		font-size:1.5em;
		line-height: 25px;
	}
	.discover-collection-game-image, .discover-collection-game-image-view{
		width: 60%;
	}
	.follow-from-discover{
		padding: 0 1rem;
		position: absolute;
		bottom: 0px;
		display: block;
		line-height: 30px;
		height: 30px;
		right: 10px;
		top: auto;
		width:auto;
	}
	.dismiss-from-discover{
		padding: 0 1rem;
		position: absolute;
		bottom: 0px;
		display: block;
		line-height: 30px;
		height: 30px;
		right: 70px;
		top: auto;
		width:auto;
	}
	.daily-watch-title-xp{
		padding: 7px 10px;
	}
	.daily-watch-video-box{
		margin-top: 20px;
	}
	.discover-category-collection{
		padding:0 !important;
	}
	.discover-collection-game-image-view span{
		line-height: 16px;
	}
	.daily-header-game-title, .daily-header-question{
		left:20px;
		right:20px;
	}
	.daily-answers-results-container{
		left:20px;
		right:20px;
		top: 180px;
	}
	.daily-answers-results-container .analyze-doughnut-key{
		width: calc(100% - 150px);
	}
	.daily-reply-button{
		padding: 4px 6px;
	}
	.daily-response-label, .daily-response-label-radio{
		font-size:1em !important;
	}
	.daily-item-row{
		line-height: 25px;
	}
}
