body{
	color:#212121;
  background-color:rgb(237, 236, 236);
	 -webkit-font-smoothing: subpixel-antialiased;
	 overflow-y: scroll;
   position: static;
}

.feedback-wrapper{
	overflow:auto !important;
}

.error_msg{
    position: fixed;
    top: 25%;
    font-size: 3em;
    z-index: 1000000;
    width: 60%;
    margin: 0 20%;
    background-color: white;
    padding: 40px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.HideForMobile{ display:inline-block; }

.HideForDesktop{ display: none; }

.HideForTabletAndMobile{ display: inline-block; }

.HideMe{
	display:none;
}

@media only screen and (max-width : 992px) {
	.HideForDesktop{ display: inline-block; }
	.HideForTabletAndMobile{ display: none; }
}

@media only screen and (max-width : 600px) {
	.HideForMobile{ display: none; }
}

.info-container{
	padding:2em 1em;
}

.info-label{
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 1em;
  margin-top:75px;
}

/*
* MATERIALIZECSS OVERRIDES
*/
a{
  color: #F50057 !important;
}

.btn, .btn-large{
  background-color: #F50057 !important;
  color: white !important;
  font-weight:400;
}

.save-btn{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  color: white !important;
  font-weight:400;
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

.save-btn:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #2bbbad;
}

.save-btn.disabled{
  background-color: #DFDFDF !important;
  box-shadow: none !important;
  color: #9F9F9F !important;
  cursor: default;
}

.save-btn.disabled:hover{
  box-shadow: none !important;
  background-color: #DFDFDF !important;
}

.cancel-btn{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  color: white !important;
  font-weight:400;
  text-decoration: none;
  color: #fff;
  background-color: #757575;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

.cancel-btn:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #F44336;
}

.btn:hover, .btn-large:hover{
  background-color: #FF4081 !important;
}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 600px) {
	.info-label{
		font-size:1.25em;
		font-weight:300;
    margin-top: 0;
	}
}

.tier00BG{ background-color: gray !important; }

.tier0BG{ background-color:rgba(0,0,0,0.7) !important;   }

.tier1BG{ background-color:#0A67A3 !important;   }

.tier2BG{ background-color:#00B25C !important;  }

.tier3BG{ background-color:#FF8E00 !important; }

.tier4BG{ background-color:#FF4100 !important;  }

.tier5BG{ background-color:#DB0058 !important;  }

.tier1BGHover, .tier2BGHover, .tier3BGHover, .tier4BGHover, .tier5BGHover{
  background-color:white;
}

.tier1BGHover:hover, .active>.tier1BGHover{ 
  background-color:#0A67A3 !important;
  color:white;   
}

.tier2BGHover:hover, .active>.tier2BGHover{ 
  background-color:#00B25C !important;  
  color:white; 
}

.tier3BGHover:hover, .active>.tier3BGHover{ 
  background-color:#FF8E00 !important;
  color:white;  
}

.tier4BGHover:hover, .active>.tier4BGHover{ 
  background-color:#FF4100 !important; 
  color:white;  
}

.tier5BGHover:hover, .active>.tier5BGHover{ 
  background-color:#DB0058 !important;
  color:white;   
}

.tierTextColor0{ color:rgba(0,0,0,0.7) !important;   }

.tierTextColor1{ color:#0A67A3 !important;  }

.tierTextColor2{ color:#00B25C !important;  }

.tierTextColor3{ color:#FF8E00 !important; }

.tierTextColor4{ color:#FF4100 !important;  }

.tierTextColor5{ color:#DB0058 !important;  }

.tierBorderColor0{ border-color:rgba(0,0,0,0.7) !important; color:rgba(0,0,0,0.7) !important;    }

.tierBorderColor1{ border-color:#0A67A3 !important; color:#0A67A3;  }

.tierBorderColor2{ border-color:#00B25C !important; color:#00B25C;  }

.tierBorderColor3{ border-color:#FF8E00 !important; color:#FF8E00; }

.tierBorderColor4{ border-color:#FF4100 !important; color:#FF4100;  }

.tierBorderColor5{ border-color:#DB0058 !important; color:#DB0058; }

.tierBorderColor1:hover{ border-color:#0A67A3 !important; background-color:#0A67A3 !important; color:white !important;  }

.tierBorderColor2:hover{ border-color:#00B25C !important; background-color:#00B25C !important; color:white !important; }

.tierBorderColor3:hover{ border-color:#FF8E00 !important; background-color:#FF8E00 !important; color:white !important; }

.tierBorderColor4:hover{ border-color:#FF4100 !important; background-color:#FF4100 !important; color:white !important; }

.tierBorderColor5:hover{ border-color:#DB0058 !important; background-color:#DB0058 !important; color:white !important; }

.tierBorderColor1selected{ border-color:#0A67A3 !important; background-color:#0A67A3 !important; color:white !important;  }

.tierBorderColor2selected{ border-color:#00B25C !important; background-color:#00B25C !important; color:white !important; }

.tierBorderColor3selected{ border-color:#FF8E00 !important; background-color:#FF8E00 !important; color:white !important; }

.tierBorderColor4selected{ border-color:#FF4100 !important; background-color:#FF4100 !important; color:white !important; }

.tierBorderColor5selected{ border-color:#DB0058 !important; background-color:#DB0058 !important; color:white !important; }

.cancel-button{
  background-color:#757575;
  color:white;
}

.cancel-button:hover{
  background-color:#F44336;
}

#toast-container > div{
	text-align: center !important;
}

.progress-side-bar{
  position: relative;
  height: 5px;
  display: block;
  width: 120%;
  background-color: #acece6;
  border-radius: 2px;
  margin: 0.5rem -1.75rem 1rem;
  overflow: hidden;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label{
  color:#F50057;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #F50057;
    box-shadow: 0 1px 0 0 #F50057;
}

input[type=range] + .thumb, input[type=range]::-webkit-slider-thumb, input[type=range]::-moz-range-thumb, input[type=range]::-ms-thumb{
  background-color:#F50057;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after{
  background-color:#F50057;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after{
  background-color:#F50057;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after{
  border: 2px solid #F50057;
}

.dropdown-content li > a, .dropdown-content li > span{
  color:rgba(0, 0, 0, 0.87);
}

.landing-intro-text{
  font-size: 4em;
  font-weight: 200;
  line-height: 70px;
  color: white;
}

[type="radio"] + label:before, [type="radio"] + label:after{
  margin-top:0;
}

@media only screen and (min-width: 993px)
{
  .toast{
    float:left !important;
  }
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

.bodynoscroll { position: fixed; }

@media only screen and (min-width: 993px) {
  #toast-container {
    bottom: 1% !important;
    top: initial !important;
    right: inherit !important;
    left: 1% !important;
    max-width: 86%;
  }
}

@media only screen and (max-width: 600px){
  .landing-intro-text{
    font-size: 2em;
    line-height: 35px;
  }
}
