/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#ranking{
    padding: 0em 35px 1em 15px !important;
}

.rank-header-container{
    margin-top: 30px;
    text-align: left;
    z-index: 10;
    width: 90%;
    margin-bottom: 10px;
    float: left;
    display: inline-block;
}

.rank-header-container-active{
    width: 60%;
}

.rank-header-intro{
    display:none;
    margin-right:20px;
}

.rank-list-container{
    width: calc(100% - 40px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: inline-block;
    float: left;
    text-align:left;
    background-color:#eee;
    position:relative;
}

.rank-list-container-profile{
    width: calc(100% - 40px);
    display: inline-block;
    float: left;
    text-align:left;
    background-color:#eee;
    position:relative;
}

.rank-list-container-activity{
    width: 100%;
    display: inline-block;
    float: left;
    margin-top:10px;
    text-align:left;
    background-color:#eee;
    position:relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.rank-welcome-container{
    width: calc(100% - 40px);
    margin-top:160px;
}

.rank-current-selection{
    position: fixed;
    right: 10px;
    border-radius: 5px 5px 0px 0px;
    bottom: -60px;
    background-color: #3F51B5;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
}

.rank-current-selection-active{
    bottom:0px !important;
}

.rank-current-selection-active-shift{
    right:calc(30% + 10px);
}

.rank-unranked-list-container{
    position: fixed;
    right: -30%;
    background-color: white;
    top:80px;
    width:30%;
    bottom: 0px;
    height: 100%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index:9;
}

.rank-filter-list-container{
    position: fixed;
    right: -30%;
    background-color: white;
    top:145px;
    width:30%;
    bottom: 0px;
    height: 100%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index:9;
}

.rank-unranked-list-container:hover{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.rank-unranked-list-container-active{
    right:0px !important;
    width:calc(30% - 40px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.rank-filter-list-container-active{
    right:0px !important;
    width:calc(30% - 40px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.year-dropdown-filter-item, .genre-dropdown-filter-item, .platform-dropdown-filter-item, .xp-dropdown-filter-item{
    font-size: 16px;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.dropdown-button, .dropdown-button:hover{
    color:white !important;
}

#platform-dropdown{
    width:370px !important;
}

#genre-dropdown{
    width:350px !important;
}

#xp-dropdown{
    width:175px !important;
}

#year-dropdown{
    width:125px !important;
}

.hide-game-rank{
    display:none;
}

.minimize-game-rank{
    opacity:0.3;
    padding:5px !important;
}

.minimize-game-rank .rank-image{
    display:none;
}

.minimize-game-rank .rank-count-container{
    top: 1px;
}

.minimize-game-rank .rank-item-container .rank-item-title{
    padding-left: 100px !important;
}

.filter-type-item>label:before, .filter-type-item>label:after{
    top:4px;
}

.rank-modal-text{
    float: right;
    font-size: 1.5em;
    color: rgba(0,0,0,0.6);
}

.rank-item-container{
    display:inline-block;
}

.rank-container.over{
    opacity: 0.6;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.rank-container.overbottom{
    opacity: 0.7;
    border-top:3px solid #F50057;
}

.rank-container.active{
    background-color:#F50057;
    border-top-color:#F50057 !important;
    color:white !important;
}

.rank-list-container .rank-container.active  .rank-history-new,
.rank-list-container .rank-container.active  .rank-history-red,
.rank-list-container .rank-container.active  .rank-history-green,
.rank-list-container .rank-container.active .rank-count-container .rank-count-secondary{
    color:white;
}

.rank-modal-body{
    height: -webkit-calc(100vh - 420px);
    overflow-y: auto;
    background-color:white;
}

.filter-modal-body{
    height: -webkit-calc(100vh - 540px);
    overflow-y: auto;
    background-color:white;
}

.active>.rank-collapsible-header{
    background-color: #3F51B5;
    color:white;
}

.rank-collapsible-header .tier-modal-icon{
    margin-right:0em;
}

.rank-save-btn{
    float:right;
    background-color: #26a69a !important;
    position:fixed;
    bottom:25px;
    cursor: pointer;
    right:10px;
    z-index:11;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.rank-save-btn-shift{
    right:calc(30% + 10px);
}

.rank-save-btn-shift-up{
    bottom:45px !important;
}

.rank-save-btn:hover{
    opacity:0.8;
    background-color: #26a69a !important;
}

.rank-save-btn.disabled i{
    color: #9F9F9F;
}

.rank-container{
    float:left;
    position: relative;
    padding: 15px 5px 15px 100px;
    width: 100%;
    text-align:left;
    background-color:white;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    border-top:3px solid white;
    border-bottom: 1px solid #eee;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.rank-container-profile{
    float: left;
    position: relative;
    padding: 15px 5px 15px 100px;
    width: 100%;
    text-align: left;
    background-color: #eee;
    border-top: 3px solid #eee;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.rank-container-activity{
    float:left;
    position: relative;
    padding: 15px 5px 15px 100px;
    width: 100%;
    text-align:left;
    background-color:white;
    border-top:3px solid white;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.rank-list-container .rank-drag-drop-placeholder:hover{
    border-top: 1px dashed gray !important;
    background-color: transparent !important;
    color:inherit !important;
}

.rank-container-hover{
    border-top-color:#FF4081 !important;
    background-color:#FF4081 !important;
    color:white !important;
}

.rank-list-insert-btn{
    color: gray;
    text-transform: uppercase;
    border: 1px dashed gray;
    font-weight: bold;
    padding: 5px 15px;
    cursor: pointer;
    float: left;
    position: relative;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.rank-list-insert-btn-expand{
    opacity:1;
}


.rank-list-insert-btn:hover{
    color:white !important;
    background-color:#FF4081 !important;
}

.rank-list-container .rank-container:hover  .rank-history-new,
.rank-list-container .rank-container:hover  .rank-history-red,
.rank-list-container .rank-container:hover  .rank-history-green,
.rank-list-container .rank-container:hover .rank-count-container .rank-count-secondary{
    color:white;
}

.rank-move-highlight{
    border-top-color:lightyellow !important;
    background-color:lightyellow !important;
    color: rgb(33, 33, 33) !important;
}

.rank-modal-body>.rank-container{
    padding:10px 15px !important;
}

.rank-image{
    position: absolute;
    top: 0px;
    left: 100px;
    width: 100px;
    height: calc(100% - 3px);
    background-size: cover;
    cursor:pointer;
}

.rank-image:hover{
    opacity:0.8;
}

.rank-history{
    float:right;
    font-weight:bold;
    margin-right:15px;
}

.rank-history-green{
    color:green;
}

.rank-history-red{
    color:red;
}

.rank-history-new{
    color:#3f51b5;
}

.rank-header-title{
    font-size: 1.25em;
    display: block;
    text-transform: uppercase;
    text-align: left;
    font-weight: 500;
    padding: 20px 5px 20px 60px;
    line-height: 12px;
    background-color: white;
    color: #F50057;
    position:absolute;
    left:-60px;
    right:0px;
    border-radius: 10px 0 0 10px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.rank-header-title:hover {
    background-color:#FF4081 !important;
    color:white;
}
.rank-header-title i{
    left: 15px;
    font-size: 1.75em;
    position: absolute;
    top: 12px;
}

.rank-header-title-count{
    margin-right:45px;
}

.rank-header-title-count-active{
    margin-right:5px;
}

.rank-count-container{
    display: inline-block;
    font-weight: 500;
    position: absolute;
    width: 100px;
    left: 15px;
    top: 11px;
}

.rank-count-main{
    display: inline-block;
    background-color: #3f51b5;
    color: white;
    width: 40px;
    padding: 3px 0;
    border-radius: 2px;
    text-align: center;
}

.rank-count-secondary{
    color: rgba(0,0,0,0.4);
    display: inline-block;
    margin-left: 5px;
}

.rank-drag-drop-placeholder{
    border: 1px dashed gray;
    background-color: transparent !important;
    font-weight: 500;
    color: gray;
    margin-top: 10px;
    padding: 10px 5px 10px 15px !important;
    position: absolute;
    top: 100%;
    width: 100%;
    margin-bottom: 50px;
}

.filter-line-item{
    float: left !important;
    padding: 4px 5px 4px 25px !important;
    text-align: left;
}

.filter-line-item:hover{
    background-color:lightyellow !important;
}

.filter-line-item label{
    color: #616161 !important;
    width: 100%;
}

.filter-line-header{
    color: #616161;
}

.filter-line-header:hover{
    color:white;
    background-color:#FF4081 !important;
}

.filter-chip{
    float: left;
    margin: 0 4px 4px 0;
    padding: 4px 8px;
    color: #F50057;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    cursor: pointer;
    position: relative;
}

.filter-chip span{
    display:none;
    font-weight: bold;
    font-size: 0.9em;
    position: absolute;
    right: 3px;
    top: 4px;
}

.filter-chip:hover{
    background-color: #FF4081;
    color:white;
}

.rank-remove-btn{
    display:none;
    position: absolute;
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    padding: 5px 5px;
    font-size: 0.7em;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    right: 15px;
    top: 13px;
}

.rank-remove-btn:hover{
    background-color: #F50057;
    color:white;
}

.rank-filter-search{
    margin-top:60px;
    position:relative;
    width:100%;
}

.rank-filter-search span{
    padding: 0 25px 0 50px;
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    display: inline-block;
}

.rank-filter-search-field{
    color:inherit !important;
}

.rank-filter-search-btn{
    margin-left: 10px;
    font-size: 2em;
    margin-top: 8px;
}

.rank-filter-search-wrapper{
    position: absolute;
    cursor: pointer;
    float: left;
    z-index: 10;
}

.rank-filter-search-wrapper:hover, .rank-filter-search-clear-btn:hover{
    color:#F50057;
}

.rank-filter-search-clear-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.5em;
    display:none;
}

.rank-item-title-w-image{
    padding-left:130px;
}

@media only screen and (max-width : 600px) {
    .rank-user-container{
        left:10px;
    }
    .rank-unranked-list-container{
        width:80%;
        right:-80%;
    }
    .rank-unranked-list-container-active{
        width: calc(80% - 40px);
    }
    .rank-filter-list-container-active{
        width: calc(80% - 40px);
        top:155px;
    }
    .rank-filter-list-container{
        top:155px;
    }
    .rank-welcome-container{
        width: calc(100% - 40px);
    }
    .rank-current-selection{
        right: 0px;
        left:0px;
    }
    .rank-image{
        position: absolute;
        top: 0px;
        left: 100px;
        width: 50px;
        height: calc(100% - 3px);
        background-size: cover;
    }
    .rank-item-title-w-image{
        padding-left:80px;
    }
}