/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.rank-header-container{
    width:100%;
    margin:20px 0;
    text-align:left;
}

.rank-header-intro{
    display:inline-block;
    margin-right:20px;
}

.rank-list-container{
    position:absolute;
    left:0;
    top:100px;
    width:50%;
}

.rank-unranked-list-container{
    position:absolute;
    right:0;
    top:10vh;
    width:40%;
}

.year-dropdown-filter-item, .genre-dropdown-filter-item, .platform-dropdown-filter-item{
    font-size: 16px;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

#platform-dropdown{
    width:370px !important;
}

#genre-dropdown{
    width:350px !important;
}

#year-dropdown{
    width:125px !important;
}

.hide-game-rank{
    display:none;
}

.rank-modal-text{
    float: right;
    font-size: 1.5em;
    color: rgba(0,0,0,0.6);
}

.rank-item-container{
    display:inline-block;
}

.rank-item-container.over{
    opacity: 0.4;
}

.rank-modal-body{
    height: -webkit-calc(85vh - 360px);
    overflow-y: auto;
}

.rank-collapsible-header .tier-modal-icon{
    margin-right:0em;
}

.rank-container{
    float:left;
    padding:10px 5px !important;
    text-align:left;
}

.rank-header-title{
    font-size: 1.5em;
    display: block;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid #999;
}

.rank-item-title{
    
}

.rank-count{
    display:inline-block;
    margin-right:5px;
}
