/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#ranking{
    padding: 0em 35px 1em 15px !important;
}

.rank-header-container{
    position: fixed;
    top: 80px;
    text-align: left;
    padding: 5px 15px;
    right: 80px;
    left: 225px;
    z-index:10;
}

.rank-header-intro{
    display:none;
    margin-right:20px;
}

.rank-list-container{
    position:absolute;
    left:0;
    top:100px;
    width: calc(100% - 40px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.rank-unranked-list-container{
    position: fixed;
    right: -30%;
    background-color: white;
    top:80px;
    width:30%;
    bottom: 0px;
    height: 100%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index:9;
}

.rank-filter-list-container{
    position: fixed;
    right: -30%;
    background-color: white;
    top:145px;
    width:30%;
    bottom: 0px;
    height: 100%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index:9;
}

.rank-unranked-list-container:hover{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.rank-unranked-list-container-active, .rank-unranked-list-container-active:hover{
    right:0px;
    width:calc(30% - 40px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.rank-filter-list-container-active, .rank-filter-list-container-active:hover{
    right:0px;
    width:calc(30% - 40px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.year-dropdown-filter-item, .genre-dropdown-filter-item, .platform-dropdown-filter-item, .xp-dropdown-filter-item{
    font-size: 16px;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.dropdown-button, .dropdown-button:hover{
    color:white !important;
}

#platform-dropdown{
    width:370px !important;
}

#genre-dropdown{
    width:350px !important;
}

#xp-dropdown{
    width:175px !important;
}

#year-dropdown{
    width:125px !important;
}

.hide-game-rank{
    display:none;
}

.rank-modal-text{
    float: right;
    font-size: 1.5em;
    color: rgba(0,0,0,0.6);
}

.rank-item-container{
    display:inline-block;
}

.rank-container.over{
    opacity: 0.6;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.rank-container.overbottom{
    opacity: 0.7;
    border-top:3px solid #F50057;
}

.rank-modal-body{
    height: -webkit-calc(100vh - 420px);
    overflow-y: auto;
    background-color:white;
}

.rank-collapsible-header .tier-modal-icon{
    margin-right:0em;
}

.rank-save-btn{
    float:right;
    background-color: #26a69a !important;
    position:fixed;
    bottom:25px;
    cursor: pointer;
    right:10px;
    z-index:11;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.rank-save-btn-shift{
    right:calc(30% + 10px);
}

.rank-save-btn:hover{
    opacity:0.8;
    background-color: #26a69a !important;
}

.rank-save-btn.disabled i{
    color: #9F9F9F;
}

.rank-container{
    float:left;
    position: relative;
    padding: 15px 5px 15px 100px !important;
    text-align:left;
    background-color:white;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    border-top:3px solid white;
    border-bottom: 1px solid #eee;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.rank-list-container .rank-container:hover{
    border-top-color:lightyellow !important;
    background-color:lightyellow !important;
}

.rank-list-container .rank-drag-drop-placeholder:hover{
    border-top: 3px dashed transparent !important;
    background-color: transparent !important;
}

.rank-modal-body .rank-container:hover{
    border-top-color:lightyellow !important;
    background-color:lightyellow !important;
}

.rank-move-highlight{
    border-top-color:lightyellow !important;
    background-color:lightyellow !important;
}

.rank-modal-body>.rank-container{
    padding:10px 15px !important;
}

.rank-image{
    position: absolute;
    top: 0px;
    left: 100px;
    width: 100px;
    height: calc(100% - 3px);
    background-size: cover;
}

.rank-history{
    float:right;
    font-weight:bold;
    margin-right:15px;
}

.rank-history-green{
    color:green;
}

.rank-history-red{
    color:red;
}

.rank-history-new{
    color:#3f51b5;
}

.rank-header-title{
    font-size: 1.25em;
    display: block;
    text-transform: uppercase;
    text-align: left;
    font-weight: 500;
    padding: 20px 5px 20px 60px;
    line-height: 12px;
    background-color: white;
    color: #F50057;
    position:absolute;
    left:-60px;
    right:0px;
    border-radius: 10px 0 0 10px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.rank-header-title:hover {
    background-color:#FF4081 !important;
    color:white;
}
.rank-header-title i{
    left: 15px;
    font-size: 1.75em;
    position: absolute;
    top: 12px;
}

.rank-header-title-count{
    margin-right:45px;
}

.rank-count-container{
    display: inline-block;
    font-weight: 500;
    position: absolute;
    width: 100px;
    left: 15px;
    top: 11px;
}

.rank-count-main{
    display: inline-block;
    background-color: #3f51b5;
    color: white;
    width: 40px;
    padding: 3px 0;
    border-radius: 2px;
    text-align: center;
}

.rank-count-secondary{
    color: rgba(0,0,0,0.4);
    display: inline-block;
    margin-left: 5px;
}

.rank-drag-drop-placeholder{
    border-top: 3px dashed transparent;
    background-color: transparent !important;
    font-weight: 500;
    color: gray;
    padding: 20px 5px 10px 15px !important;
    position:absolute;
    top: 100%;
}

.filter-line-item{
    float: left !important;
    padding: 2px 5px 2px 20px !important;
    text-align: left;
}

.filter-line-item:hover{
    background-color:lightyellow !important;
}

.filter-line-item label{
    color: #616161 !important;
    width: 100%;
}

.filter-line-header{
    color: #616161;
}

.filter-line-header:hover{
    color:white;
    background-color:#FF4081 !important;
}

@media only screen and (max-width : 600px) {
    .rank-user-container{
        left:10px;
    }
}