
.tier-modal-row{
	height:20%;
	line-height:20%;
}
.modal-content-container{
    position: absolute;
    top: 10vh;
    bottom: 10vh;
    overflow: auto;
    right: 0;
    left: 0;
}
.tier-modal-icon{
    color: gray;
}

.collapsible-header{
    color:#ddd;
    text-align:left;
    font-weight: bold;
    font-size: 1.5em;
}

.collapsible-header:hover .tier-modal-icon{
    color:white;
}

.collapsible-header i{
    font-size:1.5em;
}

.collapsible-history-divider{
    text-align: left;
    margin-top: 30px;
    padding: 5px 15px;
    background-color: #ddd;
    font-weight: 400;
    font-size: 1.25em;
}

.tier-modal-body{
    height: -webkit-calc(80vh - 360px);
    overflow-y: auto;
}

.active>.tier1BGHover>i, .active>.tier2BGHover>i, .active>.tier3BGHover>i, .active>.tier4BGHover>i, .active>.tier5BGHover>i,
.active>.tier1BGHover:hover i, .active>.tier2BGHover:hover i, .active>.tier3BGHover:hover i, .active>.tier4BGHover:hover i, .active>.tier5BGHover:hover i{
    color:white !important;
}

.tier-modal-add-btn{
    margin: 10px 10px 20px;
}

.tier-modal-collapsible-container{
    border-right:none !important;
    border-left:none !important;
    box-shadow:none !important;
    margin:0 0 1rem 0 !important;
}

.modal-save-container{
	height:10vh;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}

.modal-btn-pos{
	margin: 2em 0 0;
}

.modal-rank-item, .modal-rank-button-item{
    display: block;
    text-align: left;
    padding: 5px 15px 0px;
    cursor: pointer;
	position: relative;
}

.modal-rank-active-game{
	display:none;
    text-align: left;
    color: white;
    background-color: #3F51B5;
    padding: 5px 15px;
}

.modal-rank-item-rank{
	display:inline-block;
    width: 45px;
	font-weight: bold;
}

.modal-rank-item-truerank{
    opacity: 0.3;
    font-size: 0.8em;
    position: absolute;
    display: inline-block;
    top: 25px;
    left: 15px;
}

.modal-rank-item-title{
	display: inline-block;
    font-weight: 300;
}

.modal-rank-item-subtitle{
    font-weight: 300;
    font-size: 0.7em;
    padding-left: 50px;
}

.modal-header{
    font-size: 1.75em;
    text-align: left;
    color: white;
    position: absolute;
    right: 75px;
    line-height: 30px;
    bottom: 10px;
    left: 10px;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    top: 20px;
}

.modal-rank-filter{
	padding: 8px 15px;
    text-align: left;
}

.modal-rank-filter-item{
    padding: 2px 8px;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    background-color: #3F51B5;
    font-size: 0.8em;
    font-weight: 500;
}

.modal-rank-item-insert-btn{
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
    cursor: pointer;
    background-color: #F50057;
    color: white;
    top: -2px;
    right: 0;
    height: 3px;
    left: 0px;
}

.modal-rank-item:hover .modal-rank-item-insert-btn{
	opacity:1.0;
}

.modal-rank-item-hover-col{
	text-align:center;
	line-height:16px;
	height:100%;
	display:table;
}

.modal-rank-item-arrow{
    width: 0;
    position: absolute;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #F50057;
    left: -12px;
    top: 0px;
}

.modal-rank-item-hover-col-title{
    display: inline-block;
    font-weight: 500;
    position: absolute;
    top: -10px;
    padding: 3px 5px;
    font-size: 0.8em;
    right: 0;
    margin-bottom: 0;
    background-color: #F50057;
    margin: 0;
}

.modal-rank-item-hover-col-cell{
	height: 100%;
    vertical-align: middle;
    display: table-cell;
}

.xp-modal-header{
    font-size: 1em !important;
    color:#616161;
    font-weight:300 !important;
}

.active>.xp-modal-header>i, .active>.xp-modal-header{
    color:white !important;
}

.active>.xp-modal-header{
    background-color:#3F51B5;
}

.xp-modal-header:hover i{
    color:white !important;
}

.xp-modal-header:hover{
    background-color:#F50057;
    color:white !important;
}

.modal-xp-header{
    margin: 25px 0 5px;
    color:#9e9e9e;
    text-align:left;
}

.modal-xp-header-advanced{
    margin: 25px 0 5px;
    color:#9e9e9e;
    text-align:left;
    font-size:1em;
    font-weight:bold;
    cursor: pointer;
    text-transform: uppercase;
}

.modal-xp-header-advanced:hover{
    color:#F50057;
}

.modal-xp-advanced-options-container{
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
    width: 100%;
    display:none;
}

.modal-xp-advanced-options-container-active{
    display:inline-block !important;
}

.modal-xp-emoji-icon{
    padding: 5px 0;
    font-size: 3.5em;
    cursor: pointer;
    opacity:0.3;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.modal-xp-emoji-icon:hover{
    opacity:1.0;
}

.modal-xp-emoji-icon-active{
    opacity:1.0;
}

.tier-modal-text{
    float:right;
}

/*
OLD STUFF
*/

.myxp-content-col{
    position: relative;
    padding: 0 2rem 0 0.75rem !important;
    top: 0;
    z-index: 1;
    margin-left:150px;
}

.myxp-vert-line{
    position: absolute;
    z-index: 0;
    top: 35px;
    display: block;
    width: 25px;
    left: 50px;
    bottom:50px;
}

.myxp-card-icon{
  font-size: 1.75em;
  height: 50px;
  width: 50px;
  text-align: center;
  color: white;
  margin-top: 30px;
  padding-top: 1.25px;
  border-radius: 50%;
  margin-left: 14px;
  position:relative;
  z-index: 5;
}

.myxp-tier-in-progress{
    background-color: transparent !important;
    width: 38px !important;
    height: 25px !important;
    left: 7px !important;
    top: -38px !important;
    font-size: 30px !important;
    cursor: default;
}

.myxp-vert-line-details{
    position: absolute;
    z-index: 0;
    top: 55px;
    display: block;
    width: 25px;
    left: 50px;	
    bottom:50px;
}

.myxp-vert-icon{
    border-radius: 50%;
    height: 50px;
    margin-left: 14px;
    width: 50px;
	z-index:5;
	position: relative;
    text-align: center;
    margin-top: 30px;
    color: white;
}

.myxp-vert-icon i{
    margin-left: 8px;
    margin-top: 3px;
}

.myxp-when-info{
    font-size: 0.6em;
    display: block;
    font-weight: bold;
}

.myxp-content-edit{
	display:none;
}

.myxp-content-suggest{
	font-size:1.5em;
	font-weight:bold;
}

.myxp-edit-container{
	background-color:white;
	padding: 2em 0;
}

.myxp-details-container{
	background-color:white;
	border-bottom: 1px solid #ddd;
    padding: 0 !important;
}

.myxp-tiercontainer{
	margin-top:3em;
}

.myxp-tier-desc{
	font-size:1.1em;
	color:#9e9e9e;
}

.myxp-tier{
	font-size: 3em;
	float: none !important;
	display: inline-block;
}

.myxp-GraphContainer{
	width: 90%;
	margin: 3em 5% 1em;
}

.myxp-GraphBarContainer{
	width: 100%;
	float:left;
}

.myxp-GraphBar{
	height: 40px;
	vertical-align: top;
	float:left;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	cursor:pointer;
}

.myxp-GraphLabel{
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	transition: all 0.25s ease;
	height: 40px;
	float: left;
	margin-right: 0.5em;
	line-height: 40px;
}

#myxp-quote{

}

.quoteflip{
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    display: inline-block;
    vertical-align: sub;
    margin-right: 0.25em;
    color:rgba(0,0,0,0.8);
}

.myxp-details-quote-container{
	text-align: left;
	margin-left: 1em;
}

.myxp-quote-counter{
	float:right;
	font-size:0.9em;
}

.myxp-details-quote{
	font-size:1.25em;
}

.myxp-details-tier{
	padding: 10px 0;
	font-size: 0.9em;
	font-weight: bold;
}

.myxp-details-tier-number{
	display: block;
	font-size: 3em;
	margin-top: -10;
}

.myxp-details-agree-container{
    position: absolute;
    bottom: 10px;
    height: 35px;
    right: 130px;
    left: 35px;
    text-align: left;
    overflow: hidden;
}

.myxp-details-agree-count{
  font-size: 1.5em;
  color: #fff;
  background-color: #43a047;
  border-radius: 2px;
  background-clip: padding-box;
  min-width: 3rem;
  padding: 6px 16px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.myxp-details-agree-list{
  text-align:left;
  display:inline-block;
}

.myxp-details-agree-listitem{
	display: inline-block;
}

.myxp-sentence{
	text-align: left;
	font-size: 1.25em;
}

.myxp-sentence-icon{
	vertical-align: middle;
	margin-right: 0.5em;
	margin-left: 1em;
}

.myxp-details-items{
	text-align:left;
	font-size: 1.25em;
	position:relative;
}

.myxp-form-box{
	margin: 0 30px 20px;
	text-align:left;
}

.myxp-form-box-header{
	margin-bottom: 10px;
	display: block;
	margin-left: 10px;
}

.myxp-form-hr{
	border-top: 1px solid #ddd;
	margin: 8px 0 20px;
}

.myxp-form-select-item{
	margin:0 1em;
}

.myxp-sentence-exp, .myxp-sentence-quarter, .myxp-sentence-year, .myxp-sentence-src, .myxp-sentence-intro, .myxp-sentence-src-url, .myxp-sentence-platform, .myxp-sentence-completion{
	display: inline-block;	
}

.myxp-selected-tier{
	color:white;
}

.myxp-selected-viewing-item{
	color:white;
	background-color:#D32F2F;
}

.myxp-edit-tier-quote, .myxp-share-tier-quote, .myxp-profile-tier-quote{
	padding: 0 2em;
	margin: 0 1em;
	font-weight: bold;
	opacity: 0.7;
	float: right;
}

.myxp-edit-tier-quote:hover, .myxp-edit-played:hover, .myxp-edit-watched:hover, .myxp-share-tier-quote:hover, .myxp-profile-tier-quote:hover{
	opacity:1;
}

.myxp-edit-played, .myxp-edit-watched{
	font-size: 0.8em;
	float: right;
	opacity: 0.7;
	font-weight:bold;
}

.myxp-percent-completed-label{
	text-align: center;
	font-size: 1.25em;
	color: #9e9e9e;
}

#myxp-fab .btn{
	height:40px;
	line-height:40px;
	margin-bottom:0;
}

.myxp-cancel{
	padding:0 1em;
	background-color:#757575;
}

.myxp-cancel:hover{
	background-color:#F44336;
}

.myxp-save{
	padding:0 3em;
}

.myxp-saving{
	background-color:#00897b !important;;
}

.myxp-saving-label{
	
}

.myxp-tier-breakdown-label{
	font-size:1.25em;
}

.myxp-view-desc{
  margin-left: 2.6em;
  font-size: 0.9rem;
  margin-top: -0.25em;
}

#BattleProgess{
	min-height: 70%;
	height:70%;
    max-width: 90%;
    margin: 0 5%;
    overflow: hidden;
}

.bp-header{
	height: 125px;
	position: relative;
	width:90%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.bp-header-min{
	height:50px;
}

.bp-container{
    position: relative;
    overflow-y: auto;
    height: 100%;
    margin-top: 165px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.bp-container-min{
	margin-top:50px;
}

.bp-progress-item{
    width: 400px;
    text-align: left;
    overflow: hidden;
}

.bp-quick-header{
	font-size:1.5em;
	margin-left:5px;
}

.bp-progress-item-name{
    font-size: 1.25em;
    overflow: hidden;
    height: 27px;
    width: 100%;
    font-weight: 500;
    color: white;
    text-align: left;
}
.bp-progress-item-desc{
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 0.8em;
    text-align: left;
}

.bp-progress-item-bar{
    width: 100%;
    height: 15px;
    background-color: #ddd;
    position: relative;
}

.bp-progress-item-bar-before{
	height:15px;
	position:absolute;
	left:0;
	top:0;
	background-color: #9E9E9E;
}

.bp-progress-item-bar-after{
	height:15px;
	position:absolute;
	top:0;
	width:0;
	background-color:#3F51B5;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.bp-share-container{
    margin-bottom: 0;
    font-size: 0.5em;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.bp-share-container-min{
	margin-top:0 !important;
}

.bp-share-label{
	display: inline-block;
    color: white;
    position: relative;
    font-size: 2.2em;
    top: -5px;
    margin-right: 10px;
    font-weight: 500;
}

.bp-progress-item-levelup{
    font-weight: 500;
    float: left;
    font-size: 0.8em;
}

.bp-item-image{
    width: 150px;
    height: 60px;
    display: inline-block;
}

.bp-progress-item-details{
    display: inline-block;
    height: 60px;
    position: absolute;
    vertical-align: top;
    overflow: hidden;
    top: 10px;
    right: 25px;
    left: 190px;
}

.bp-btn{
	color:white;
	font-weight:500;
}

.bp-related-quests-image{
    width: 100%;
    height: 100px;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor:pointer;
}

.bp-related-game-title{
	position: absolute;
    color: white;
    bottom: 0px;
    padding: 2px 15px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.5);
    font-weight: 400;
}

.bp-options{
    text-align: right;
    position: absolute;
    top: 5px;
    right: -10px;
}

.bp-top-row{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:10;
	background-color:#303F9F;
	padding:40px 24px 24px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.bp-top-row-min{
	padding:5px 24px 5px;
}

.bp-equip{
	margin-top:25px;
}

.bp-equip-container{
	margin-top:25px;
	margin-bottom: 50px;
    display: inline-block;
    width: 100%;
}

.bp-item-image-icon{
	font-size: 3em;
    color: rgba(0,0,0,0.5);
}

.lifebar-avatar-min-min{
	width:45px;
	height:45px;
    top: -18px;
}

.lifebar-dots-min-min{
	opacity:0;
}

.lifebar-bar-container-min-min{
	opacity:0;
}

.lifebar-circle-fill-min{
	opacity:0;
}

.lifebar-username-min-min{
	left:65px;
	font-size:1.1em;
	top: -7px !important;
}

.visual-sentence-label{
    display: inline-block;
    font-size: 1.5em;
    padding: 0 20px;
}

.myxp-visual-sentence-label{
    display: inline-block;
    font-size: 1.25em;
    padding: 0 8px 0 0;
}

.visual-sentence-perct{
	display:inline-block;
    vertical-align: middle;
}

.visual-sentence-year{
	display: inline-block;
    font-size: 2em;
    vertical-align: middle;
    font-weight: 500;
    margin-top: -5px;
}
.visual-sentence-sublabel{
	font-size:0.5em;
}
.userxp-details-lifebar{
	margin-bottom: 150px;
	padding-top: 20px !important;
	position: relative;
}
@media only screen and (max-width : 600px) {
	.myxp-GraphContainer{
		width:100%;
		margin:1em 0 1em;
	}
	#myxp-quote{

	}
	.myxp-GraphLabel{
		font-size:0.85em;
		height:40px;
		line-height:40px;
	}
	.myxp-GraphLabel i{
		display: none;
	}
	.myxp-details-tier{
		padding: 15px 0;
	}
	.myxp-details-quote, .myxp-details-items{
		font-size:1em;
	}
	.myxp-details-items{
		text-align:center;
	}
	.myxp-form-box{
		margin-bottom:30px;
	}
	.myxp-form-box-extra{
		margin-bottom:60px;
	}
	.myxp-sentence{
		font-size:1em;
	}
	#BattleProgess{
		min-height: 85%;
	    max-width: 100%;
	    margin: 0;
	}
	.visual-sentence-label{
	    font-size: 1.25em;
	    padding: 0 5px;
	}
	.visual-sentence-game{
    	max-width: 100px;
	}
	.gameNav{
		font-size:0.8em;
	}
	.myxp-details-container .row .s0{
		display:none;
	}
	.userxp-details-lifebar{
		width:90% !important;
		margin-left:3% !important;
	}
	.bp-share-container{
	    margin-right: 0px;
    	margin-top: 90px;
	}
	.bp-share-container-min{
		display:none;
	}
}
