@import '../base/mixins';
.feed-horizontal-card {
    @include card;
    text-align: left;
    display: inline-block;
    background-color: #C5CAE9;
    width: 100%;
}

.feed-bookmark-card {
    @include card;
    width: 300px;
    background-color: white;
    text-align: left;
    display: inline-block;
    .feed-bookmark-image {
        display: inline-block;
        width: 300px;
        height: 115px;
    }
}

.feed-release-card {
    @include card;
    width: 100%;
    background-color: white;
    text-align: left;
    .feed-release-image {
        display: inline-block;
        width: 100%;
        height: 200px;
    }
}

.feed-game-discover-card {
    height: 165px !important;
}

.feed-card-image {
    display: inline-block;
    width: 150px;
    position: absolute;
    height: 100%;
    &:hover {
        opacity: 0.9;
    }
}

.feed-card-content {
    padding: 10px 20px 10px 35px;
    position: relative;
    background-color: white;
    float: right;
    width: -webkit-calc(100% - 150px);
}

.feed-card-icon-container {
    font-size: 1.75em;
    height: 40px;
    width: 40px;
    text-align: center;
    color: white;
    top: 20px;
    left: -20px;
    padding-top: 1.25px;
    position: absolute;
    border-radius: 50%;
}

.feed-card-icon {
    font-size: 2.25em;
    position: absolute;
    color: #3F51B5;
    left: -9px;
    top: -9px;
    border-radius: 50%;
}

.game-card-action-pick {
    padding: 4px 0 !important;
    font-weight: 500;
}

.card-game-secondary-actions {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    @include transition(all 0.3s ease-in-out);
    //@include fill;  check if bottom an be 0 first
    top: 0;
    height: 200px;
    left: 0;
    right: 0;
    position: absolute;
}

.card-game-secondary-actions:hover {
    opacity: 1;
}

.game-card-secondary-action-container {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    text-align: right;
}

.game-card-secondary-action-i {
    display: inline-block;
    padding: 5px 5px 0px;
    color: white;
    cursor: pointer;
    border-radius: 2px;
}

.game-card-secondary-action-i:hover {
    background-color: #F50057;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard-card {
    @include transition(all 0.3s ease-out);
    background-color: white;
    color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    position: relative;
    min-height: 245px;
    margin-bottom: 20px;
}

.dashboard-card-calltoaction {
    background-color: #F50057;
    color: white;
    cursor: pointer;
    &:hover {
        -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #1E88E5;
    }
}

.dashboard-card-calltonotice {
    background-color: #607D8B;
    color: white;
    cursor: pointer;
    &:hover {
        -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #546E7A;
    }
}

.dashboard-calltonotice-container {
    margin-top: 40px;
}

.dashboard-calltoaction-container,
.dashboard-calltonotice-container {
    i {
        font-size: 5em;
        display: block;
        margin-top: -20px;
    }
    span {
        text-transform: uppercase;
        font-weight: 500;
        position: relative;
        font-size: 1.25em;
        top: -15px;
    }
}

.dashboard-platform-container .badge-small {
    margin-bottom: 10px;
}

.dashboard-tier-label {
    font-size: 0.25em;
    position: relative;
    top: 5px;
    display: none;
    font-weight: bold;
}

.dashboard-tier-block {
    color: white;
    display: inline-block;
    font-size: 0.6em;
    font-weight: bold;
    width: 70px;
    border-radius: 50%;
    position: relative;
    top: -20px;
}

.dashboard-card-relative-label {
    color: white;
    font-weight: 400;
    font-size: 1em;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 20px;
    display: none;
}

.dashboard-card-relative-tier {
    color: white;
    font-size: 4em;
    line-height: 100px;
    font-weight: bold;
}

.dashboard-card-relative-container {
    display: inline-block;
    padding: 15px 0;
}

.dashboard-card-game-small {
    width: 95px;
    border-radius: 50%;
    height: 95px;
    position: absolute;
    top: 80px;
    left: -110px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-card-tiny-header {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0.9em;
    font-weight: 400;
}

.dashboard-card-date-top {
    font-size: 3em;
    text-transform: UPPERCASE;
    margin: 20px 0 0;
}

.dashboard-card-date-unknown {
    font-size: 5em;
    text-transform: UPPERCASE;
    margin: 40px 0 0;
    font-weight: bold;
}

.dashboard-card-date-bottom {
    font-size: 5em;
    text-transform: UPPERCASE;
    margin: -30px 0 0;
    font-weight: bold;
}

.dashboard-card-date-info {
    font-size: 1em !important;
    position: relative !important;
    top: -15px !important;
    width: 100%;
    font-weight: normal !important;
    display: block;
    text-transform: none !important;
}

.dashboard-platform-container {
    margin-top: 40px;
}

@media only screen and (max-width: 600px) {
    .dashboard-card-game-small {
        width: 75px;
        height: 75px;
        top: 70px;
    }
    .dashboard-card-relative-tier {
        font-size: 3em;
        line-height: 75px;
    }
}