@import '../base/mixins';
//formerly .feed-activity-icon-xp
.feed-activity-icon {
    font-size: 1.25em;
    height: 30px;
    width: 30px;
    text-align: center;
    color: white;
    margin-top: 15px;
    padding-top: 1.25px;
    border-radius: 50%;
    background-color: #303F9F;
}