@import '../base/mixins';
.feed-activity-title {
    text-align: left;
    padding-top: 17px;
    font-size: 1.25em;
    margin-left: 190px;
    color: rgba(0, 0, 0, 0.7);
}

.GameTitle {
    position: absolute;
    top: 30px;
    left: 15px;
    font-weight: 500;
    color: white;
    font-size: 2em;
    z-index: 3;
    line-height: 25px;
    @include transition(all 0.5s ease);
}

.dashboard-question-header {
    font-size: 1.5em;
    margin-bottom: 20px;
    line-height: 26px;
    margin-top: 20px;
}