@import '../base/mixins';
.feed {
    &-avatar-col {
        width: 125px !important;
        z-index: 2;
        position: relative;
        float: left;
    }
    &-activity-icon-col {
        float: left;
        margin-left: 10px;
    }
    &-content-col {
        position: relative;
        padding: 0 2rem 0 0.75rem !important;
        top: 0;
        z-index: 1;
    }
}